.qq-gallery {
    .qq-upload-list {
        > div {
            display: inline-block;
            margin: 1rem 0;

            &.qq-upload-success {
                > .document-comtainer{
                    background-color: #f2f7ed;
                }
            }

            > .document-comtainer{
                border-radius: 4px;
                height: 25rem;

                .qq-thumbnail-selector {
                    width: 100%;
                    padding: 1rem;
                }
            }
        }
    }
}
